<!-- <html>
<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>

<body>
<h1> Are you sure you want to delete {{item.name}}? </h1>

<form action="#" method = 'post'>

<input type='submit', value = 'Delete'>




</form>

<a href = '#'> Cancel </a>

 -->

{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<h2> Are you sure you want to delete {{item.name}}? </h2>

<form action="#" method = 'post'>

  <button type="submit" class="btn btn-default delete" id="submit" type="submit">
  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Delete</button>
  <a href = '{{url_for('showRestaurants')}}'>
    <button class="btn btn-default delete">
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
  </a>

</form>

{% endblock %}
