{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
<div class="catalog-show-container">
  {% include "owner.html" %}
  {% include "flash.html" %}

  {% if items !=[] %}
    <div class="row items-container">
      <h3 class="item-heading">Items:</h3>
      {% for i in items %}
        <div class="item row">
          <div class="item-content">
            <h3>{{i.name}}</h3>
            <p>{{i.description}}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
</div>
{% endblock %}
