{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
{% include "owner.html" %}

{% include "flash.html" %}

	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<a href="{{url_for('editCatalog', catalog_id = catalog.id )}}">
				<button class="btn btn-default" id="new-item-item">
					<span class="glyphicon glyphicon-pencil" ></span>Edit Catalog
				</button>
			</a>
			<a href="{{url_for('newItem', catalog_id = catalog.id )}}">
				<button class="btn btn-default" id="new-item-item">
					<span class="glyphicon glyphicon-th-list" ></span>Add Item
				</button>
			</a>
						<a href="{{url_for('deleteCatalog', catalog_id = catalog.id )}}">
				<button class="btn btn-default delete" id="delete-catalog">
					<span class="glyphicon glyphicon-trash" ></span>Delete Catalog
				</button>
			</a>
		</div>
		<div class="col-md-7"></div>
	</div>

	{% if items !=[] %}
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-3">
				<h3>Items</h3>
					{% for i in items %}
							<div class="item">
								<h3>{{i.name}}</h3>
								<p>{{i.description}}</p>
								<a href='{{url_for('editItem', catalog_id = catalog.id, item_id=i.id ) }}'>Edit</a> |
								<a href='{{url_for('deleteItem', catalog_id = catalog.id, item_id=i.id ) }}'>Delete</a>
							</div>
					{% endfor %}
			</div>

			<div class="col-md-1"></div>
		</div>
	{% endif %}
{% endblock %}
